/* style sheet for the SBA COM project */

flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  background-color: rgb(219, 214, 224);
}

nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

h2 {
  color: green;
  border: 5px solid blue;
}
